@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", helvetica, arial, sans-serif;
}
body{
    /* display: flex; */
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#ef89c6,#3e2f9c );
}
.container{
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.form-group2{
float: left;
width:33%;
}
